@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Montserrat:wght@500&display=swap');

/* Auto */
.section__login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 7%;
}

.section__login-heading{
    text-align: center;
    font-size: 29px;
    line-height: 35px;
    color: #252525;
    font-family: 'Montserrat';
}
.section__login-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 2%;
}
.section__login-formInput{
    width: 450px;
    height: 35px;
    font-size: 15px;
    color: #252525;
    font-family: 'Montserrat';
}
.section__login-button{
    height: 40px;
    cursor: pointer;
    border-radius: 6px;
    border-style: none;
    background-color: #C8D5F6;
    font-size: 15px;
    color: #252525;
    font-family: 'Montserrat';
}

/* Laboratory */
.section__lab{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.section__lab-block{
    padding: 60px 355px 0px 0px;
}
.section__lab-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.section__lab-page{
    width: 1246px;
    height: 120px;
    background: rgba(226, 237, 208, 0.55);
    border-radius: 10px;
    list-style: none;
}
.section__lab-input{
    width: 395px;
    height: 26px;
    padding: 10px;
    background: #F0F0F0;
    border-style: none;
    border-radius: 4px;
}
.section__lab-input:focus{
    outline-width: 0;
}
.section__lab-blockSearch{
    display: flex;
    gap: 10px;
    align-items: center;
}
.section__lab-button{
    width: 395px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    color: #000;
    font-family: 'Montserrat';
    line-height: 27px;
    text-decoration: none;
    background: #F0F0F0;
    border-style: none;
    border-radius: 4px;
}
.section__lab-button:hover{
    background: #C8D5F6;
    color: #FFF;
}
.section__lab-spn{
    display: flex;
    gap: 30px;
}
.section__lab-edit{
    margin-left: 50px;
    padding: 10px;
    width: 180px;
    background-color: white;
    color: #000;
    border: 0.7px solid #000;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: "Montserrat";
    font-size: 16px;
}
.section__lab-edit:hover{
    background: #C8D5F6;
    color: #FFF;
    border-style: none;
}
.section__lab-btnDelete{
    padding: 10px;
    width: 180px;
    background-color: white;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    cursor: pointer;
    font-family: "Montserrat";
    font-size: 16px;
    border: 0.7px solid #000;
}
.section__lab-btnDelete:hover{
    background: #FF7070;
    color: #FFF;
    border-style: none;
}
.section__lab-name{
    color: #000;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 19px;
}
.alternate-color{
    background: rgba(216, 216, 216, 0.38);
}
